@font-face {
    font-family: 'Hakgyoansim Godeunjemok';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGodeunjemok/HakgyoansimGodeunjemok-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGodeunjemok/HakgyoansimGodeunjemok-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGodeunjemok/HakgyoansimGodeunjemok-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Hakgyoansim Godeunjemok';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGodeunjemok/HakgyoansimGodeunjemok-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGodeunjemok/HakgyoansimGodeunjemok-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGodeunjemok/HakgyoansimGodeunjemok-Bold.ttf') format('truetype');
}
